.git/
.gitignore
README.md
Dockerfile
.dockerignore
node_modules/
vendor/
.env
storage/app/public/
storage/debugbar/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/
bootstrap/cache/packages.php
bootstrap/cache/services.php